@import "tailwindcss";
@import "@fontsource/inter";
@import "@fontsource/poppins";
@import "@fontsource/roboto";
@import "@fontsource/orbitron";
@import "@fontsource/sora";
@import "@fontsource/rajdhani";
@import "@fontsource/raleway";
@import "@fontsource/audiowide";

@plugin "daisyui" {
  themes: all;
}

body, html {
    height: screen;
    width: screen;
    scroll-behavior: smooth;
    font-family: "sora";
}

body::-webkit-scrollbar{
  display: none;
}
